body{
background:#000;
color:#fff;
font-family:sans-serif;
padding:15px;
}

.topbar{
display:flex;
align-items:center;
gap:10px;
margin-bottom:20px;
}

.uploadBox{
background:#111;
padding:15px;
border-radius:12px;
margin-bottom:20px;
display:flex;
flex-direction:column;
gap:10px;
}

.toolbar{
display:flex;
gap:10px;
margin-bottom:15px;
}

button{
padding:10px 15px;
border:none;
border-radius:8px;
cursor:pointer;
background:linear-gradient(45deg,#ff9800,#ff2d7a);
color:#fff;
}

#galleryGrid{
display:grid;
grid-template-columns:repeat(2,1fr);
gap:12px;
}

.imageCard{
position:relative;
}

.imageCard img{
width:100%;
aspect-ratio:1/1;
object-fit:cover;
border-radius:12px;
}

.imageCard input{
position:absolute;
top:8px;
left:8px;
}

.folder{
background:#111;
padding:25px;
text-align:center;
border-radius:12px;
cursor:pointer;
}

#viewer{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:#000;
display:none;
justify-content:center;
align-items:center;
z-index:999;
}

#viewer img{
max-width:95%;
max-height:95%;
}

.backBtn{
position:absolute;
top:20px;
left:20px;
font-size:22px;
background:none;
}