/* PAGE */

body{
background:#0b0b0b;
color:white;
font-family:Arial, sans-serif;
margin:0;
}


/* CONTAINER */

.container{
padding:20px;
}


/* TITLES */

h3{
margin-top:25px;
margin-bottom:10px;
font-size:18px;
}


/* UPLOAD BOX */

.upload-box{
background:#111;
padding:15px;
border-radius:12px;
border:1px solid #222;
display:flex;
flex-direction:column;
gap:10px;
}


/* INPUT */

.upload-box input[type="text"]{
padding:12px;
border-radius:8px;
border:1px solid #333;
background:#0f0f0f;
color:white;
outline:none;
}


/* FILE INPUT */

.upload-box input[type="file"]{
color:white;
}


/* BUTTON */

.upload-btn{
padding:12px;
border:none;
border-radius:10px;
background:linear-gradient(90deg,#ff8a00,#e52e71);
color:white;
font-weight:bold;
cursor:pointer;
}


/* GALLERY GRID */

.gallery-grid{
display:grid;
grid-template-columns:repeat(3,1fr);
gap:12px;
margin-top:15px;
}


/* IMAGE CARD */

.gallery-card{
background:#111;
border-radius:10px;
overflow:hidden;
border:1px solid #222;
position:relative;
}


.gallery-card img{
width:100%;
height:110px;
object-fit:cover;
display:block;
}


/* IMAGE HOVER */

.gallery-card:hover{
transform:scale(1.03);
transition:0.2s;
}


/* MOBILE */

@media (max-width:600px){

.gallery-grid{
grid-template-columns:repeat(2,1fr);
}

}

#uploadStatus{
margin-top:10px;
font-size:14px;
opacity:0.8;
}

.gallery-folder{
background:#111;
border:1px solid #333;
padding:20px;
border-radius:12px;
font-size:18px;
cursor:pointer;
}

.gallery-back{
margin-bottom:20px;
font-size:16px;
cursor:pointer;
}